@page "/"
@using LittleBlazors.Components.Charts.Model;

<h1>Pie Chart Sample</h1>

@{
    var data = new PieChartData { Title = "Distribution" }
        .AddPieSection("hello", 34)
        .AddPieSection("bye", 21);
}

<LittleBlazors.Components.Charts.PieChart Data="data" />
