@page "/"
<h1>Pie Chart Sample</h1>

@{
    var data1 = new Dictionary<string, double>() { { "hi", 1.0 }, { "bye", 23 } };
}

<div style="border: 1px solid blue">
    <LittleBlazors.Components.Charts.PieChart Data="data1" />
</div>