@page "/lineChartSample"
@using LittleBlazors.Components.Charts.Model;
@using  LittleBlazors.TestHost.Utilities;


<h1>LineChart sample</h1>

<LittleBlazors.Components.Charts.LineChart Data="@data" />

<button @onclick="AddRandomLine">Add line</button>
<button @onclick="Reset">Reset</button>

@code{
    ChartData data = new ChartData() { Title = "Sample chart" }
        .AddLine("x", Enumerable.Range(0, 10));

    ElementReference lineChart;

    protected override void OnInitialized()
    {
        AddRandomLine();
        base.OnInitialized();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    public void AddRandomLine()
    {
        this.data.AddLine(RandomUtilities.GetRandomString(5), RandomUtilities.GetRandomNumberArray(10, 99));
    }

    public void Reset()
    {
        while (this.data.Lines.Count > 1)
        {
            this.data.Lines.Remove(this.data.Lines.Last().Key);
        }

        AddRandomLine();
    }
} 