@page "/lineChartSample"
@using LittleBlazors.Components.Charts.Model.LineChartModel;

@{
    var data = new LinearChartData() { Title = "Sample chart" }
           .AddLine("x", new double[] { 12, 13, 14, 15, 73 })
           .AddLine("y", new double[] { 34, 35, 1, 34, 63 })
           .AddLine("count", new double[] { 43, 23, 45, 1, 93 });
}

<h1>LineChart sample</h1>

<LittleBlazors.Components.Charts.LineChart Data="data" />
