@page "/wizard"
@using LittleBlazors.Components.Wizards;
@using LittleBlazors.Components.Core.Extensions; 
@using LittleBlazors.TestHost.Utilities;

<h1>Wizard component sample</h1>

@if (this.ShowWizard)
{
<Wizard OnComplete="OnWizardComplete" SupportCompletion="true" NextButtonStyle="NextButtonStyle" OnPageChanged="OnPageChanged">
    <WizardPage Title="Page1">page 1</WizardPage>
    <WizardPage Title="Page2">
        <div style="background-color: red; height: 200px; width: 150px;"></div>
    </WizardPage>
    <LittleBlazors.TestHost.Samples.Wizard.GetDetailsForm Title="page 4" />
    <WizardPage Title="Page3">Final page</WizardPage>
</Wizard>

<button @onclick="UpdateStyle">Update next button title</button>
}
else
{
    <textarea @bind="Text" />
}

@code{
    private LittleBlazors.Components.Core.ButtonStyle NextButtonStyle { get; set; } = new Components.Core.ButtonStyle("Next", null);

    private void UpdateStyle()
    {
        this.NextButtonStyle = this.NextButtonStyle.Title(DateTime.Now.Second.ToString());
    }

    private Task OnPageChanged(WizardPage page)
    {
        UpdateStyle();

        return Task.CompletedTask;
    }

    public string Text { get; set; }

    public bool ShowWizard { get; set; } = true;

    protected Task OnWizardComplete(IWizardStateManager stateManager)
    {
        this.ShowWizard = false;

        if (stateManager.TryGet("Text", out var value))
        {
            this.Text = "The wizard has completed with value: " + (string)value;
        }

        return Task.CompletedTask;
    }
}