@page "/wizard"
@using LittleBlazors.Components.Wizards;
@using LittleBlazors.TestHost.Utilities;


<h1>Wizard component sample</h1>


<Wizard>
    <WizardPage>page 1</WizardPage>
    <WizardPage>
        <div style="background-color: red; height: 200px; width: 150px;"></div>
    </WizardPage>
    <WizardPage>Final page</WizardPage>
</Wizard>

@code{ } 