/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.discrete-progress-tracker-container {
    border: 2px dashed red;
    display: block;
}

.reset-float {
    float: none;
}