<div class="my-component">
    @for (var i = 0; i < this.CompletedStates; i++)
    {
        @CompletedStateTemplate
    }

    @if (this.CompletedStates < this.TotalStates)
    {
        @CurrentStateTemlpate
    }

    @for (var i = 0; i < this.TotalStates - this.CompletedStates - 1; i++)
    {
        @IncompleteStateTemplate
    }
</div>

@code
{
    private RenderFragment incompleteStateTemplate;

    [Parameter]
    public int TotalStates { get; set; }

    [Parameter]
    public int CompletedStates { get; set; }

    [Parameter]
    public RenderFragment CompletedStateTemplate { get; set; }

    [Parameter]
    public RenderFragment IncompleteStateTemplate
    {
        get => this.incompleteStateTemplate;
        set
        {
            this.incompleteStateTemplate = value;
            if (this.CurrentStateTemlpate == null)
                this.CurrentStateTemlpate = value;
        }
    }

    [Parameter]
    public RenderFragment CurrentStateTemlpate { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}