<div class="my-component">
    @for (var i = 0; i < this.CompletedSteps; i++)
    {
        @CompletedStepTemplate
    }

    @if (this.CompletedSteps < this.TotalSteps)
    {
        @CurrentStepTemlpate
    }

    @for (var i = 0; i < this.TotalSteps - this.CompletedSteps - 1; i++)
    {
        @IncompleteStepTemplate
    }
</div>

@code
{
    private RenderFragment incompleteStepTemplate;

    [Parameter]
    public int TotalSteps { get; set; }

    [Parameter]
    public int CompletedSteps { get; set; }

    [Parameter]
    public RenderFragment CompletedStepTemplate { get; set; }

    [Parameter]
    public RenderFragment IncompleteStepTemplate
    {
        get => this.incompleteStepTemplate;
        set
        {
            this.incompleteStepTemplate = value;
            if (this.CurrentStepTemlpate == null)
                this.CurrentStepTemlpate = value;
        }
    }

    [Parameter]
    public RenderFragment CurrentStepTemlpate { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}