@using LittleBlazors.Components.Charts.Interop;

@inject GoogleChartsInterop interop;

<div class="my-component">
    This Blazor component is defined in the <strong>LittleBlazors.Components.Charts</strong> package.
</div>

<div @ref="chartContainer" />

@code {
    ElementRef chartContainer;

    protected override void OnInit()
    {

    }

    protected override Task OnAfterRenderAsync()
    {
        return this.interop.InitializeCharts(chartContainer);
    }
}