@using LittleBlazors.Components.Charts.Interop;
@using LittleBlazors.Components.Charts.Model;

@inject GoogleChartsInterop interop;

<div class="my-component">
</div>

<div @ref="chartContainer" />

@code {
    [Parameter]
    public PieChartData Data { get; set; }
    private ElementReference chartContainer;

    protected override void OnInitialized()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this.interop.DrawPieAsync(this.Data, chartContainer);
    }
}