@using LittleBlazors.Components.Charts.Interop;
@using LittleBlazors.Components.Charts.Model;

@inject GoogleChartsInterop interop;

<div class="my-component">
</div>

<div @ref="chartContainer" />

@code {
    [Parameter] PieChartData Data { get; set; }
    ElementRef chartContainer;

    protected override void OnInit()
    {

    }

    protected override async Task OnAfterRenderAsync()
    {
        await this.interop.DrawPieAsync(this.Data, chartContainer);
    }
}