@using Microsoft.Extensions.Logging
@using LittleBlazors.Components.Core
@using LittleBlazors.Components.Wizards.Components
@using LittleBlazors.Components.Wizards

@inject ILogger<Wizard> logger

<div class="@WizardPageContainerClassName">
    <CascadingValue Value="this">
        <CascadingValue Value="StateManager">
            @ChildContent
            <MarkerWizardPage />
        </CascadingValue>
    </CascadingValue>
</div>

<div class="@FooterContainerClassName">
    @if (this.CanGoBack)
    {
        <StylableButton Style="BackButtonStyle" OnClick="NavigateBack" />
    }

    @if (this.CanGoNext)
    {
        <StylableButton Style="NextButtonStyle" OnClick="NavigateForward" />
    }
    else if (this.SupportCompletion)
    {
        <StylableButton Style="FinishButtonStyle" OnClick="CompleteWizard" />
    }
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Specifies whether the wizard supports a notion of completion or not.
    /// If yes, the `Next` button will show as `Finish` when on the last page.
    /// The <see cref="OnComplete"/> callback will fire only when this property is value is `true`.
    /// </summary>
    [Parameter]
    public bool SupportCompletion { get; set; } = false;

    /// <summary>
    /// Fired when the user passes beyond the last page of the wizard, only when the <see cref="SupportCompletion"/> is `truee`.
    /// </summary>
    [Parameter]
    public EventCallback<IWizardStateManager> OnComplete { get; set; }

    /// <summary>
    /// Fired when the wizard page is about to be loaded
    /// </summary>
    [Parameter]
    public EventCallback<WizardPage> OnPageLoading { get; set; }

    /// <summary>
    /// Fired when a wizard page is about to be unloaded
    /// </summary>
    [Parameter]
    public EventCallback<WizardPage> OnPageUnloading { get; set; }

    /// <summary>
    /// Specifies the name of the css class to apply to the footer container, where the `back` and `next` buttons are
    /// </summary>
    [Parameter]
    public string FooterContainerClassName { get; set; }

    /// <summary>
    /// Specifies the styles to apply to the `Back` button.
    /// </summary>
    [Parameter]
    public ButtonStyle BackButtonStyle { get; set; } = new ButtonStyle("Back", null);

    /// <summary>
    /// Specifies the styles to apply to the `Next` button.
    /// </summary>
    [Parameter]
    public ButtonStyle NextButtonStyle { get; set; } = new ButtonStyle("Next", null);

    /// <summary>
    /// Specifies the styles to apply to the `Finish` button.
    /// </ summary >
    [Parameter]
    public ButtonStyle FinishButtonStyle { get; set; } = new ButtonStyle("Finish", null);

    /// <summary>
    /// Specifies the css class name of the pages container
    /// </summary>
    [Parameter]
    public string WizardPageContainerClassName { get; set; }

    private int currentPage = 0;

    internal WizardPage CurrentPage => this.Pages[currentPage];

    internal IWizardStateManager StateManager { get; } = new WizardStateManager();

    private bool CanGoNext => this.currentPage < this.Pages.Count - 1;

    private bool CanGoBack => this.currentPage > 0;

    private List<WizardPage> Pages { get; } = new List<WizardPage>();

    internal void AddPage(WizardPage page)
    {
        if (page is MarkerWizardPage)
            return;

        this.logger.LogDebug($"Adding page {page.Title} to wizard");
        this.Pages.Add(page);

        this.StateHasChanged();
    }

    /// <summary>
    /// Navigates to the next page of the wizard.
    /// If currently at the last page and <see cref="SupportCompletion" /> is true, then the completion event will be triggered.
    /// Otherwise, the navigation will result in no action.
    /// </summary>
    public async Task<bool> NavigateForward()
    {
        if (!this.CanGoNext)
            return false;

        await this.TurnToPage(this.currentPage + 1);
        this.StateHasChanged();

        return true;
    }

    /// <summary>
    /// Navigates to the previous page of the wizard, if not at the first page.
    /// </summary>
    public async Task<bool> NavigateBack()
    {
        if (!this.CanGoBack)
            return false;

        await this.TurnToPage(this.currentPage - 1);
        this.StateHasChanged();

        return true;
    }

    internal async Task AllPagesLoaded()
    {
        if (this.Pages.Any())
            await this.OnPageLoading.InvokeAsync(this.Pages[0]);
    }

    private async Task CompleteWizard()
    {
        this.CurrentPage.StoreState();
        await this.OnComplete.InvokeAsync(this.StateManager);
        this.StateHasChanged();
    }

    private async Task TurnToPage(int page)
    {
        this.CurrentPage.StoreState();
        await this.CurrentPage.OnNavigatingAway();
        await this.OnPageUnloading.InvokeAsync(this.CurrentPage);
        this.currentPage = page;
        await this.CurrentPage.OnNavigatedTo();
        await this.OnPageLoading.InvokeAsync(this.CurrentPage);
    }
}
