<div class="@WizardPageContainerClassName">
    <CascadingValue Value="this">
        <CascadingValue Value="StateManager">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>

<div class="@FooterContainerClassName">
    @if (this.CanGoBack)
    {
        <button id="btnNext" @onclick="OnBack">Back</button>
    }

    @if (this.CanGoNext)
    {
        <button id="btnNext" @onclick="OnNext">Next</button>
    }
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string FooterContainerClassName { get; set; } //= "wizardFooterContainer";

    [Parameter]
    public string WizardPageContainerClassName { get; set; } //= "wizardPageContainerClassName";

    private int currentPage = 0;

    internal WizardPage CurrentPage => this.Pages[currentPage];

    internal IWizardStateManager StateManager { get; } = new WizardStateManager();

    private bool CanGoNext => this.currentPage < this.Pages.Count - 1;

    private bool CanGoBack => this.currentPage > 0;

    private List<WizardPage> Pages { get; } = new List<WizardPage>();

    public void AddPage(WizardPage page)
    {
        this.Pages.Add(page);
        this.StateHasChanged();
    }

    public void OnNext()
    {
        if (this.CanGoNext)
            this.TurnToPage(this.currentPage + 1);
    }

    public void OnBack()
    {
        if (this.CanGoBack)
            this.TurnToPage(this.currentPage - 1);
    }

    private void TurnToPage(int page)
    {
        this.CurrentPage.StoreState();
        this.currentPage = page;
        this.CurrentPage.RestoreState();
    }
}