@inherits LittleBlazors.Components.Wizards.WizardPage
@using LittleBlazors.Components.Wizards;

@if (this.IsPageActive)
{
    <h3>GetDetailsForm</h3>

    <input type="text" @bind="Text" />
    <button @onclick="HandleClick">Submit</button>
}

@code {
    [State]
    private string Text { get; set; }

    private async Task HandleClick()
    {
        await this.Wizard.NavigateForward();
    }
}
